* {
	margin: 0px;
	padding: 0px;
}

@maincolor: #e09a78;
@themecolor: #e09a78;
@themecolorhover: #f5c7d6;
@themecolordown: #b9663e;

@raven: #6e6f71;
@ravenhover: #6e6f71;
@ravendown: #68696b;

@aluminium: #929495;

@lyellow: #f69423;
@lyellowhover: #f79e39;
@lyellowdown: #e98c20;

@cinnabar: #ea3727;
@cinnabarhover: #ec4b3d;
@cinnabardown: #de3425;

@s_pink: #ce205b;
@s_pinkhover: #8f5b6b;
@s_pinkdown: #7b4455;

@m_aquamarine: #5bc5be;
@m_aquamarinehover: #6ccbc5;
@m_aquamarinedown: #56bbb4;

@m_meadow: #189e8c;
@m_meadowhover: #30a898;
@m_meadowdown: #179685;

@sun: #f388ac;
@sunhover: #f3773c;
@sundown: #e66324;

@l_coral: #ef7980; 
@l_coralhover: #f1878d;
@l_coraldown: #e37379;

@gray2: #5b5b5b;
h1, h2 {
	font-family: 'pinyon_scriptregular';
	font-weight: 400;
	font-size: 50px;
	color: #e09a78;
}
/*h2 {
	text-transform: uppercase;
	color: @themecolordown;
	font-family: 'robotolight';
}*/
p {
	font-family: 'robotolight';
}
strong {
	color: @maincolor;
}
a {
	color: @themecolordown;
}
a:hover,
a:active {
	color: @themecolordown;
	text-decoration: none;
}
header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	background: url(../images/strip-header.png) repeat top left;
	.menu_and_logo {
		-webkit-box-shadow: 0px 10px 17px -7px rgba(0,0,0,0.16);
		-moz-box-shadow: 0px 10px 17px -7px rgba(0,0,0,0.16);
		box-shadow: 0px 10px 17px -7px rgba(0,0,0,0.16);
		.logo {
			img {
				position: absolute;
				top: 10px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
			.primary {
				img {
					top: -7px;
				}
				img.zoomOut {
					top: -999999px;
				}
			}
			.secondary {
				img.hide {
					display: none;
				}
			}
		}
		nav {
			text-align: center;
			ul {
				margin-bottom: 0;
				li {
					list-style: none;
					display: inline;
					a {
						padding: 30px 1vw 22px 1vw;
						display: inline-block;

						font-size: 15px;
						color: #7a7a7a;
						font-family: 'robotoregular';
						text-transform: uppercase;
					}
				}
				li.current-menu-item {
					a {
						border-bottom: 8px solid @maincolor;
						color: #ad552b;
					}
				}
			}
		}
	}
}
.acf-map {
	width: 100%;
	height: 500px;
	border: #ccc solid 1px;
	margin: 20px 0;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
.animated2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.banner {
	background: #000;
	position: relative;
	z-index: 1;
	.fixed {
		position: fixed;
		top: 0;
		z-index: 1;
		width: 100%;
		ul {
			padding: 0;
			li {
				background-size: cover !important;
				background-repeat: no-repeat;

				.middle {
					position: absolute;
					bottom: 10%;
					left: 0%;
					width: 60%;
					padding: 30px 30px 30px 100px;
					/*background: url(../images/hero-strip.png) repeat top left;*/
					h2 {
						font-family: 'pinyon_scriptregular';
						text-transform: capitalize;
						color: #fff;
						font-size: 5vw;
						display: none;
					}
					div {
						color: #fff;
						display: none;
						text-shadow: 0px 0px 16px rgba(150, 150, 150, 1);
						-vendor-animation-delay: 2s;
						animation-delay: 2s;
						width: 50%;

						a {							
							color: #fff;
							font-weight: bold;
							padding: 10px 20px;
							background: #337ab7;
							border-radius: 5px;
						}
					}
					h2.fadeInUp {
						display: block;
						text-shadow: 0px 0px 16px rgba(150, 150, 150, 1);
					}
					div.fadeInLeft {
						display: block;
						text-shadow: 0px 0px 16px rgba(150, 150, 150, 1);
						-vendor-animation-delay: 2s;
						animation-delay: 2s;
					}
				}
			}
		}
		.flex-direction-nav,
		.flex-control-nav {
			display: none;
		}
		.flexslider {
			margin: 0;
			border: 0;
		}

		/*.grid-item {
			margin: 10px;
			width: auto;
		}*/
	}
	.innerbanner-container {
		overflow: hidden;
		height: 500px;

		.inner-banner {
			height: 500px;
			background-size: cover !important;
		}
	}
	.grid2:after {
		content: '';
		display: block;
		clear: both;
	}
}
.content.main {
	padding-top: 10px;
}
.content {

	position: relative;
	z-index: 2;
	/*height: 10000px;*/
	background: #fff;

	.featured-gallery {
		position: relative;


		.grid {
			.element-item {
				margin-bottom: 40px;
				img {
					margin: 0 auto;
				}
			}
		}
	}
}
.page-content {
	.banner {
		h1 {
			text-align: center;
			color: @maincolor;
		}
	}
}
.divider {
	clear: both;
	position: relative;
	display: block;
	height: 80px;
	width: 100%;
}
.divider-2 {
	clear: both;
	position: relative;
	display: block;
	height: 100px;
	width: 100%;
	border-bottom: 3px solid #b39ea5;
}
.bubbleframe {
	position: relative;
	z-index: 5;
	background: url(../images/headerbanner-frame.png) repeat-x bottom left;
}
.white {
	padding-top: 30px;
	position: relative;
	background: #fff;
	z-index: 1;
	text-align: center;
}
.visibility-h {
	visibility: hidden;
}
/* Loader */
#loader-wrapper {
	background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    #loader {
	    display: block;
	    position: relative;
	    left: 50%;
	    top: 50%;
	    width: 150px;
	    height: 150px;
	    margin: -75px 0 0 -75px;
	    border-radius: 50%;
	    border: 3px solid transparent;
	    border-top-color: #3498db;
	    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
	 
	#loader:before {
	    content: "";
	    position: absolute;
	    top: 5px;
	    left: 5px;
	    right: 5px;
	    bottom: 5px;
	    border-radius: 50%;
	    border: 3px solid transparent;
	    border-top-color: #e74c3c;
	    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
	 
	#loader:after {
	    content: "";
	    position: absolute;
	    top: 15px;
	    left: 15px;
	    right: 15px;
	    bottom: 15px;
	    border-radius: 50%;
	    border: 3px solid transparent;
	    border-top-color: #f9c922;
	    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	}
}

 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
/* end of loader */
.gallery-container {
	position: relative;
	height: 50px;
	overflow: visible;
	border-top: 1px solid @gray2;
	border-bottom: 1px solid @gray2;
	margin:40px 15px;
	z-index: 11;
}

.gallery-single {
	img {
		width: 100%;
		margin-bottom: 3px;
	}
}
.filter_stories {
	/*padding-left: 15px;*/
    z-index: 10;
    width: 300px;
    float: none;
    margin: 0 auto;

    li {
    	cursor: pointer;    	
    }

	span {
		display: none;
		width: 300px;
		position: absolute;
		top: 49px;
		background: #fff;
		/*-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;*/
		padding: 0 15px 15px 15px;
		-webkit-box-shadow: inset 0px 0px 18px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 0px 0px 18px -5px rgba(0,0,0,0.75);
		box-shadow: inset 0px 0px 18px -5px rgba(0,0,0,0.75);
		li {			
			border-bottom: 1px solid @gray2;
		}
	}
	li.item-hidden {
		list-style-type: none;
		color: @gray2;
		font-size: 13px;
		text-transform: uppercase;
		padding: 13px 0px;			
		
		text-decoration: none;
		text-align: center;
		width: 100%;
		cursor: pointer;
		font-family: 'robotolight';
		
	}
	

	li.filters-select {
		position: relative;
		padding: 13px 10px 13px 10px;
		display: block;
		width: 100%;
		color: @gray2;
		-webkit-appearance: none;
		background: url(../images/filter-arrow-down.png) no-repeat center right;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-transform: uppercase;
		font-size: 18px;
		
		text-align: center;		
		margin-bottom: 15px;						
	}
	li.filters-select.active {
		background: url(../images/filter-arrow-up.png) no-repeat center right;
	}
	/*> li:hover {
		ul.subfilter {
			display: block;
		}			
	}	
	li.prenup:hover,
	li.prenup.selected {
		background-color: @s_pink;	
	}
	li.wedding:hover,
	li.wedding.selected {
		background-color: @sun;	
	}

	li.init.prenup {
		background-color: @s_pink;	
	}
	li.init.wedding {
		background-color: @sun;	
	}	*/
}





* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll; 
}

body {
  font-family: sans-serif;
}

/* ---- grid ---- */

/* clear fix */
.grid2 {
	background: #656565;
}
.grid2:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-item,
.grid-sizer {
	opacity: 0.2;
  width: 10%;
  /*border: 5px solid @themecolordown;*/
  background-size: 150% !important;
}

.grid-item {
  float: left;
}
.grid-item:hover {  
  opacity: 1;  
}

/*bubble*/
#ballWrapper {
	width: 140px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 35%;
	margin-left: -70px;
	z-index: 100;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 5s linear 0s;
	-moz-transition: all 5s linear 0s;
	transition: all 5s linear 0s;
	cursor: pointer;
}

#ballWrapper:active {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	cursor: pointer;
}

#ball {
	width: 140px;
	height: 140px;
	border-radius: 1000px;
	background: rgb(187,187,187);
	background: url(../images/new-logo.png);
	/*background: -moz-linear-gradient(top,  rgba(187,187,187,1) 0%, rgba(119,119,119,1) 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(187,187,187,1)), color-stop(99%,rgba(119,119,119,1)));
	background: -webkit-linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
	background: -o-linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
	background: -ms-linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
	background: linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);*/
	background-size: 136%;
    background-position: center;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#777777',GradientType=0 );
	/*box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), 
				inset -2px -1px 40px rgba(0,0,0,0.4), 
				0 0 1px #000;	*/
	position: absolute;
	top: 0;	
	z-index: 11;
	-webkit-animation: jump 1s infinite;
	-moz-animation: jump 1s infinite;
	-o-animation: jump 1s infinite;
	-ms-animation: jump 1s infinite;
	animation: jump 1s infinite;
	cursor: pointer;
}

/*#ball::after {
	content: "";
	width: 80px; 
	height: 40px; 
	position: absolute;
	left: 30px;
	top: 10px;
	z-index: 10;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  rgba(232,232,232,1) 0%, rgba(232,232,232,1) 1%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(1%,rgba(232,232,232,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
	background: linear-gradient(top,  rgba(232,232,232,1) 0%,rgba(232,232,232,1) 1%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#00ffffff',GradientType=0 );
	border-radius: 40px / 20px;	
}*/

#ballShadow {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 10;
	margin-left: -30px;
	width: 60px;
	height: 75px;
	background: rgba(20, 20, 20, .1);
	box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
	border-radius: 1000px / 1000px;	
	-webkit-transform: scaleY(.3);
	-moz-transform: scaleY(.3);
	-ms-transform: scaleY(.3);
	-o-transform: scaleY(.3);
	transform: scaleY(.3);
	-webkit-animation: shrink 1s infinite;
	-moz-animation: shrink 1s infinite;
	-o-animation: shrink 1s infinite;
	-ms-animation: shrink 1s infinite;
	animation: shrink 1s infinite;
}

/* Animations */

@-webkit-keyframes jump {
	0% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 140px;
		height: 140px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {top: 160px; height: 120px; border-radius: 1000px / 1000px;
		-webkit-animation-timing-function: ease-in;}
	65% {top: 120px; height: 140px; border-radius: 1000px;
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes jump {
	0% {top: 0;
		-moz-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 140px;
		height: 140px;
		-moz-animation-timing-function: ease-out;
	}
	55% {top: 160px; height: 120px; border-radius: 1000px / 1000px;
		-moz-animation-timing-function: ease-in;}
	65% {top: 120px; height: 140px; border-radius: 1000px;
		-moz-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-moz-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-moz-animation-timing-function: ease-in;
	}
}

@-o-keyframes jump {
	0% {top: 0;
		-o-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 140px;
		height: 140px;
		-o-animation-timing-function: ease-out;
	}
	55% {top: 160px; height: 120px; border-radius: 1000px / 1000px;
		-o-animation-timing-function: ease-in;}
	65% {top: 120px; height: 140px; border-radius: 1000px;
		-o-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-o-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-o-animation-timing-function: ease-in;
	}
}

@-ms-keyframes jump {
	0% {top: 0;
		-ms-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 140px;
		height: 140px;
		-ms-animation-timing-function: ease-out;
	}
	55% {top: 160px; height: 120px; border-radius: 1000px / 1000px;
		-ms-animation-timing-function: ease-in;}
	65% {top: 120px; height: 140px; border-radius: 1000px;
		-ms-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-ms-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-ms-animation-timing-function: ease-in;
	}
}

@keyframes jump {
	0% {
		top: 0;
		animation-timing-function: ease-in;
	}
	50% {
		top: 140px;
		height: 140px;
		animation-timing-function: ease-out;
	}
	55% {
		top: 160px; 
		height: 120px; 
		border-radius: 1000px / 1000px;
		animation-timing-function: ease-in;
	}
	65% {
		top: 120px; 
		height: 140px; 
		border-radius: 1000px;
		animation-timing-function: ease-out;
	}
	95% {
		top: 0;		
		animation-timing-function: ease-in;
	}
	100% {
		top: 0;
		animation-timing-function: ease-in;
	}
}



@-webkit-keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-webkit-animation-timing-function: ease-in;
	}
	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 1000px / 1000px;
		-webkit-animation-timing-function: ease-out;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-webkit-animation-timing-function: ease-in;
	}
}

@-moz-keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-moz-animation-timing-function: ease-in;
	}
	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 1000px / 1000px;
		-moz-animation-timing-function: ease-out;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-moz-animation-timing-function: ease-in;
	}
}

@-o-keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-o-animation-timing-function: ease-in;
	}
	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 1000px / 1000px;
		-o-animation-timing-function: ease-out;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-o-animation-timing-function: ease-in;
	}
}

@-ms-keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-ms-animation-timing-function: ease-in;
	}
	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 1000px / 1000px;
		-ms-animation-timing-function: ease-out;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		-ms-animation-timing-function: ease-in;
	}
}

@keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		animation-timing-function: ease-in;
	}
	50% {
		bottom: 30px;
		margin-left: -10px;
		width: 20px;
		height: 5px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 1000px / 1000px;
		animation-timing-function: ease-out;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 1000px / 1000px;
		animation-timing-function: ease-in;
	}
}
/*bubble*/

footer {
	position: relative;
	z-index: 4;
	padding: 50px 0 0 0;
	background: @maincolor;
	.social-icon {
		display: block;
		width: 36px;
		height: 36px;
		background: #5b5b5b;
		float: right;
		margin: 0 10px;
		border-radius: 100px;
	}
	.social-icon:hover {
		background: #e09a78;
	}

	.gform_heading {
		padding-bottom: 30px;
		h3 {
			font-family: 'robotolight';
			text-transform: uppercase;
			font-size: 35px;
			text-align: center;
			color: #fff;
		}
	}
	.gform_footer {
		text-align: center;
		input {
			background: none;
			border: 0;
			font-family: 'robotolight';
			font-size: 26px;
			text-transform: uppercase;
			color: #fff;
		}
	}
	.contact-form {
		padding-bottom: 30px;
		ul {
			li {
				width: 33.33333333%;
				float: left;
				display: block;
				padding-right: 20px;
				input, textarea {
					width: 100%;
					padding: 10px;
					border-radius: 3px;
					margin-bottom: 15px;
					border: 0;
				}
			}
			li#field_1_5 {
				width: 100%;
			}
		}
		.gform_footer {
			clear: both;
		}
	}

	.copy-and-social {
		background: #fff;
		padding: 20px 0;
	}
	li.gfield_error {
		input, 
		textarea {
		    background: #fddddd url(../images/icon-cross-form.png) right center no-repeat;
		    border: 1px solid #ce8585!important;
		}
	}
	.validation_error,
	.validation_message {
	    display: none;
	}
}


/* Grid */


.element-item .view {
	position: relative;
	overflow: hidden;
}
.element-item .view .item_img img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.element-item .view .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color:#000;
   background-color: rgba(0,0,0, 0.7);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   text-align: center;
   color: #fff;
}
.element-item .view .item_title {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   margin-top: 50%;
   font-family: 'pinyon_scriptregular';
   font-size: 1.5vw;
   font-weight: normal;
}
.element-item .view .item_title a,
.element-item .view .item_title a:hover,
.element-item .view .item_title a:active {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
}
.element-item .view .item_introtext {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.element-item .view:hover .item_img img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.element-item .view .item_more {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.element-item .view:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.element-item .view:hover .item_title,
.element-item .view:hover .item_introtext,
.element-item .view:hover .item_more {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.element-item .view:hover .item_introtext {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.element-item .view:hover .item_more {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

.element-item .item_img {
    margin-right: 0;	
    float: none;
    max-width: 100%;
}
.element-item .view .mask .mask_wrap, .element-item .view .content .mask_wrap {
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
}
.element-item .view .mask .mask_wrap .mask_cont, .element-item .view .content .mask_wrap .mask_cont {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5%;
    font-size: 13px;
    line-height: 23px;
}
.element-item .view .mask, .element-item .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2;
}
.grid a.zoom {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}


/*single content */
#single-tab {

	text-align: center;
	.nav-tabs {
		border: 0;
		li {
			float: none;
			display: inline-block;
			a {
				border: 0;
			}
		}
	}
	.tab-content {
		margin: 50px 0;	
		.tab-pane {
			img {
				margin-bottom: 3px;
				width: 100%;
			}
		}
	}
}

body {
	height: auto !important;	
}

.nav-tabs {
	> li {
		> a:hover {
			background: none transparent;
		}
	}
}
